<footer class="page-footer {{main.footerColor}}">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                  <div class="row">
                    <h5 class="white-text ">Redes sociales</h5>
                  </div>
                  <div class="row">
                    <div class="left">
                        <a class="grey-text text-lighten-3 valign-wrapper" target="_blank" href="{{main.faceBiofarma}}"><img id="icon" class="responsive-img" src="{{main.faceIcon}}" alt=""> Facebook</a>
                    </div>
                  </div>
              </div>
              <div class="col l4 offset-l2 s12">
                  <div class="row">
                    <h5 class="white-text">Contactanos</h5>
                  </div>
                  <div class="row grey-text text-lighten-3">
                      <p>Vicente Riva Palacio 889, Anáhuac, 58630 Anáhuac, Mich.</p>
                      <div class="left">
                          <a class="grey-text text-lighten-3 valign-wrapper" target="_blank"><img id="icon" class="responsive-img" src="{{main.whatsIcon}}" alt=""> 44-33-49-77-98</a>
                      </div>
                  </div>


              </div>
            </div>
          </div>
          <div class="footer-copyright {{main.iconColor}}  ">
            <div class="container valign-wrapper">
                <a class="grey-text text-lighten-4" target="_blank" href="{{main.faceEmmanuel}}"><img id="icon" class="responsive-img" src="{{main.faceIcon}}" alt=""></a>
                © 2018 Emmanuel García Gutiérrez
          </div>
        </div>
</footer>
