<nav class="{{main.mainColor}}">
    <div class="nav-wrapper">
        <a routerLink="/dashboard" class="brand-logo center" id="title-logo"><img id="imageLogo" src="{{main.pathImages}}biofarma-logo-text.png"/></a>
        <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li [routerLinkActive]="['active']"> <a [routerLink]="['dashboard']">Inicio</a></li>
            <li [routerLinkActive]="['active']"> <a [routerLink]="['date']">Citas</a></li>
            <li [routerLinkActive]="['active']"> <a [routerLink]="['sales']">Ofertas</a></li>
            <li [routerLinkActive]="['active']"> <a [routerLink]="['contact']">Contacto</a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="dropdown-button" data-activates="admin-dropdown">Administración<i class="material-icons right">arrow_drop_down</i></a>
                <!-- Dropdown Structure -->
                <ul id="admin-dropdown" class="dropdown-content">
                    <li [routerLinkActive]="['active']"> <a [routerLink]="['admin-products']">Administración productos</a></li>
                    <li [routerLinkActive]="['active']"> <a [routerLink]="['admin-users']">Gestion de administradores</a></li>
                </ul>
            </li>

        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li [routerLinkActive]="['active']"> <a [routerLink]="['dashboard']">Inicio</a></li>
            <li [routerLinkActive]="['active']"> <a [routerLink]="['date']">Citas</a></li>
            <li [routerLinkActive]="['active']"> <a [routerLink]="['sales']">Ofertas</a></li>
            <li [routerLinkActive]="['active']"> <a [routerLink]="['contact']">Contacto</a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="dropdown-button" data-activates="admin-mobile">Administración<i class="material-icons right">arrow_drop_down</i></a>
                <!-- Dropdown Structure -->
                <ul id="admin-mobile" class="dropdown-content">
                    <li [routerLinkActive]="['active']"> <a [routerLink]="['admin-products']">Administración productos</a></li>
                    <li [routerLinkActive]="['active']"> <a [routerLink]="['admin-users']">Gestion de administradores</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
