<div class="row">
    <div class="col l4 s12 m6" *ngFor="let product of products">
        <div class="card">
          <div class="card-image" class="center">
            <img id="imagesProducts"  src="{{main.pathImagesResources}}{{product.urlFile  ? product.urlFile : 'imagePreview.png'}}" class="materialboxed responsive-img" [attr.data-caption]="product.name">
          </div>
          <div class="card-content">
            <span class="card-title">{{ product.amount | currency }}</span>
            <span class="card-title">{{ product.name }}</span>
            <p>{{product.description}}</p>
          </div>
          <div class="card-action">
            <a href="#">Mas información</a>
          </div>
        </div>
    </div>
</div>
