<!-- start form to products-->
<div class="row">
    <div class="col l12 m12 s12">
      <div class="row">
          <div class="card">
              <form #formAdminProducts="ngForm" name="formAdminProducts" (ngSubmit)="methods.onSubmit(formAdminProducts,'products','add',methods.files,'el producto')" encType="multipart/form-data" novalidate>
                  <div class="row {{main.navTitle}} ">
                      <div class="col l12 m12 s12 hide-on-med-and-down">
                          <span class="card-title left-aling">Productos</span>
                          <a (click)="methods.resetForm(formAdminProducts)"  class="btn {{main.buttonDefaultColor}} right"><i class="material-icons left">cached</i>Reiniciar</a>
                          <a (click)="formAdminProducts.ngSubmit.emit()" class="btn {{main.buttonSuccessColor}} right"><i class="material-icons left">save</i>Guardar</a>
                          <a (click)="getProducts()" class="modal-trigger btn {{main.buttonDefaultColor}} right" href="#productsModal" ><i class="material-icons left">view_list</i>Listar</a>
                      </div>
                      <div class="col l12 m12 s12 show-on-medium-and-down hide-on-large-only">
                          <span class="card-title left-aling">Productos</span>
                          <a (click)="methods.resetForm(formAdminProducts)" class="btn-small {{main.buttonDefaultColor}} right"><i class="material-icons left">cached</i>Reiniciar</a>
                          <a (click)="formAdminProducts.ngSubmit.emit()" class="btn-small {{main.buttonSuccessColor}} right"><i class="material-icons left">save</i>Guardar</a>
                          <a class="btn-small {{main.buttonDefaultColor}} right"><i class="material-icons left">view_list</i>Listar</a>
                      </div>
                  </div>
                  <div class="section">
                      <div class="row">
                          <div class="col l4 m6 s12">
                              <h5>Imagen de producto</h5>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col l4 m12 s12 center-align">
                              <img id="imagePreview" [src]="methods.urlFile" alt="product image" />
                              <div class="input-field">
                                  <div class="file-field input-field">
                                     <div class="btn">
                                        <span>Imagen</span>
                                        <input name="filePath" type="file" ngModel (change)="methods.getFiles($event)">
                                     </div>
                                     <div class="file-path-wrapper">
                                        <input name="urlFile" class="file-path" type="text" ngModel>
                                     </div>
                                 </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="section">
                      <div class="row">
                          <div class="col l4 m6 s12">
                              <h5>Detalles del producto</h5>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col l4 m6 s12">
                              <input name="barCode" type="number" class="validate" ngModel required>
                              <label for="barCode">Codigo</label>
                          </div>
                          <div class="input-field col l4 m6 s12">
                              <input name="name" type="text" class="validate" ngModel required>
                              <label for="name">Nombre</label>
                          </div>
                          <div class="input-field col l4 m6 s12">
                              <input name="description" type="text" class="validate" ngModel>
                              <label for="description">Descripción</label>
                          </div>
                          <div class="input-field col l4 m6 s12">
                              <input name="amount" type="text" class="validate" value="{{ getValueChange() | currency }}" (change)="onChange($event.target.value)" ngModel>
                              <label for="amount">Precio</label>
                          </div>
                      </div>
                      <input name="_id" type="hidden" ngModel>
                      <input name="urlFile" type="hidden" ngModel (ngModelChange)="methods.updateFile($event)">
                  </div>
                  <div class="row {{main.navTitle}} ">
                      <div class="col l12 m12 s12 hide-on-med-and-down">
                          <a (click)="methods.resetForm(formAdminProducts)"  class="btn {{main.buttonDefaultColor}} right"><i class="material-icons left">cached</i>Reiniciar</a>
                          <a (click)="formAdminProducts.ngSubmit.emit()" class="btn {{main.buttonSuccessColor}} right"><i class="material-icons left">save</i>Guardar</a>
                      </div>
                      <div class="col l12 m12 s12 show-on-medium-and-down hide-on-large-only">
                          <a (click)="methods.resetForm(formAdminProducts)" class="btn-small {{main.buttonDefaultColor}} right"><i class="material-icons left">cached</i>Reiniciar</a>
                          <a (click)="formAdminProducts.ngSubmit.emit()" class="btn-small {{main.buttonSuccessColor}} right"><i class="material-icons left">save</i>Guardar</a>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </div>
</div>
<!-- end form to products-->
<!-- Modal Structure -->
<div id="productsModal" class="modal modal-fixed-footer">
    <div class="modal-header {{main.navTitle}}">
        <div class="row">
            <div class="col l12 m12 s12">
                <h4 class="">Lista de productos</h4>
            </div>
        </div>
    </div>
    <div class="modal-content">
        <div class="row">
            <div class="input-field col l4 m4 s4 right">
                <input name="filter" type="text" (keyup)="applyFilter($event.target.value)">
                <label for="filter">Buscar</label>
            </div>
        </div>
        <div class="row">
            <div class="col l12 m12 s12 ">
                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="barCode">
                        <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
                        <mat-cell *matCellDef="let item"> {{item.barCode}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                        <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                        <mat-cell *matCellDef="let item"> {{item.description}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                        <mat-cell *matCellDef="let item"> {{item.amount | currency}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                        <mat-cell *matCellDef="let item">
                              <a (click)="onSelectClicked(item, formAdminProducts)" class="btn {{main.buttonDefaultColor}}"><i class="material-icons center">edit</i></a>
                            <a (click)="onDeleteClicked(item)" class="btn {{main.buttonDangerColor}}"><i class="material-icons center">delete_forever</i></a>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>

                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,50,100]"></mat-paginator>

            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-teal btn-flat {{main.buttonDefaultColor}} ">Cerrar</a>
    </div>
</div>
<!-- end modal to products-->

<!-- <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
  <tr>
      <th style="width: 20%">
          <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
      </th>
      <th style="width: 50%">
          <mfDefaultSorter by="description">Descripción</mfDefaultSorter>
      </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
      <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
  </tr>
  </tfoot>
</table> -->
