<div class="row">
    <div id="containerCarousel">
        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-fixed-item center">
                <a class="btn waves-effect white grey-text darken-text-2" routerLink='/date'>Agendar cita</a>
            </div>
            <div *ngFor="let item of items" id="carousel-item" class="carousel-item  white-text">
              <h2>{{item.name}}</h2>
              <p class="white-text">{{item.description}}</p>
                <img id="imagesProducts" src="{{main.pathImagesResources}}{{item.urlFile  ? item.urlFile : 'imagePreview.png'}}">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col l6 s12 center-align card-panel">
        <h5>Nosotros</h5>
        <div id="aboutUs">
            <p class="flow-text">
              Un defecto común que hemos visto en muchos frameworks es la falta de soporte para el texto verdaderamente responsivo. Mientras que otros elementos de la página responden fluidamente,
              el texto aún se redimensiona sobre una base fija. Para mejorar este problema, para páginas cargadas de texto, hemos creado una clase que escala de manera fluida el tamaño del texto y
              la altura de línea para optimizar la legibilidad del usuario. La longitud de línea se mantiene entre 45-80 caracteres y la altura de línea se escala para ser más grande en las pantallas más pequeñas.
              Para ver el Flujo de Texto en acción, cambie el tamaño de su navegador lentamente y verá cambiar el tamaño de este texto. ¡Utilice el botón de arriba para activar o desactivar el flujo de texto y
              ver la diferencia!</p>
        </div>
    </div>
    <div class="col l6 s12 center-align card-panel">
        <h5>Ubicación</h5>
        <div class="map"><app-map></app-map></div>
    </div>
</div>
