#aboutUs {
  height: 490px;
}

#aboutUs p {
  font-size: 15pt;
}

#containerCarousel{
  padding-top: 1%;
}

.carousel{
  height: 550px !important;
}

#imagesProducts{
  width: 400px;
  height: 400px;
  border: solid 2px white;
}
