<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
        <span>Nombre del proyecto</span>
        </mat-toolbar-row>

        <mat-toolbar-row>
            <span>Menu</span>
            <span class="example-spacer"></span>
            <button mat-icon-button [mat-menu-trigger-for]="menu">
              Inicio
            </button>
        </mat-toolbar-row>


    </mat-toolbar>

</div>

<div>
    <mat-card>
        <li *ngFor="let product of products">
            <a routerLink="/detail/{{product.id}}">
                <span class="badge">{{product.id}}</span> {{product.name}}
            </a>
        </li>
    </mat-card>
</div>

<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>Option 1</button>
  <button mat-menu-item>Option 2</button>
</mat-menu>
