/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  /*font Abril*/
  /*font-family:  'Abril Fatface', cursive;*/
  font-family: 'Oswald', sans-serif;
}

#icon{
  margin: 0 auto;
  padding: 0;
  width: 45px;
  height: 45px;
}


blockquote{
  border-left: 5px solid #00bfa5 !important;
}


#toast-container {
  top: 5% !important;
  right: 45% !important;
}

#imagePreview {
  width: 180px !important;
  max-width: 180px !important;
  background-color: #cccccc;
}

.modal-header {
    border-radius: 0 0 2px 2px;
    //background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
}

.mat-table, .mat-paginator {
    background: #fff0 !important;
}

.modal {
    width: 95% !important;
    height: 90% !important;
}

.modal-footer {
    z-index: 1003 !important;
}

.cdk-overlay-container {
    z-index: 1003 !important;
}

.tabs .indicator {
    background-color: #00bfa5;
}
